body{
	line-height: 1.6em;
}
.slick-active .hero__text-content{
 	text-align: right; 
}
.site-nav--active .site-nav__link:after {
    background-color: transparent;
}
.site-nav__link {
	color: #222;
}
.site-nav__link:hover::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #f93a66;
} 
.hero__subtitle, .hero__arrow {
    background: #000;
    color: #fff;
    font-weight: 400;
} 
.hero {
    margin-bottom: 15px;
} 
.hero__link{
    font-weight: 400;
} 
.product-card__overlay-btn {
    display: none;
}  
.site-nav__link {
    padding-top: 16px;
    padding-bottom: 16px;
}
.product-card__name{
 	text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 5px; 
  	font-weight: 400;
    color: #222;
}
.product-card__image-container{
 	margin-bottom: 100px; 
}
p {
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
}
.product-card:hover .product-card__name{
    color: unset;
}
.product-card__overlay{
 	display: none; 
}
#shopify-section-1538402423644 {
        margin: 0 0 15px;
} 
.hulkapps_swatch_option .hulkapps_option_child {
    border: none !important;
}
.customer-login-links a {
    text-transform: uppercase;
    color: #000!important;
}
.hulkapps_option_value label {
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 7px;
    font-size: 13px;
    width: 45px;
    height: 45px;
}
h1.product-single__title {
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 400;
}
hr {
    margin: 15px 0;
    border-color: #ccc;
} 
#hulkapps_option_list_1698540159033 {
    padding: 0 5px;
}
.single_line .hulkapps_option_value .hulkapps_check_option, .single_line .hulkapps_option_value .hulkapps_radio_option {
    margin-right: 7px !important;
}
.hulkapps_radio_option{
      padding: 0!important;
      width: 45px;
    height: 45px;
}
.hulkapps_radio_option .radio_selected {
    border: none !important;
    background: #000 !important;
}
.radio_div:hover {
    border: none !important;
}
.radio_div {
    padding: 0 !important;
    font-weight: 700;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: none !important
}
.hulkapps_swatch_option .swatch_selected {
    border: 1px solid #000 !important;
}
.site-nav__item:first-child .grid__item.meganav__list.one-fifth:first-child li.site-nav__dropdown-container:first-child a{
    border-bottom: 1px solid;
    padding-left: 0;
    margin-left: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.site-nav__link .icon {
    width: 14px;
    height: 14px;
}
.size-guide-wrap {
    width: 100%;
    padding: 0 10px 0px 5px;
    text-align: right;
    margin-top: 0;
}
#hulkapps_options_1730384363577 {
    margin-bottom: -10px!important;
}
#size-guide {
    position: relative;
}
b, strong {
    font-weight: bold;
}
.template-page #MainContent .page-width {
    max-width: 900px;
}
.site-footer__section-title {
    font-size: 20px;
    letter-spacing: 1px;
}
.template-page h1{
    font-size: 26px;
    font-weight: 400;
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    line-height: 1.6em;

}
#contact_form .btn{
    display: inline-block;
    width: auto;
} 
.notification--promo {
    background-color: #000 !important;
}
.notification__inner {
    padding: 7px 0 !important;
}
.notification__close{
	display: none;
}
a.size-chart-open-popup {
  	font-weight: 400;
}
.horizontalTab button.accordion {
    color: #000;
    font-size: 13px !important;
    font-weight: 900 !important;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    border: none!important;
    border-bottom: 1px solid #ddd !important;
    background: none!important;
} 
.horizontalTab .accordion.active:after{
 	 content: "\2329" !important;
  	margin-top: -10px;
}
.horizontalTab .accordion:after {
    transform: rotate(90deg);
    font-size: 18px;
    content: "\232A" !important;
    font-weight: 100!important;
    color: #373435;
}
.horizontalTab .panel{
 	border: none!important; 
}
.horizontalTab .panel {
    padding: 10px 0 !important;
} 
.rte.product-single__description {
    margin-top: 20px;
}
.rte li {
    margin-bottom: 0;
}
.bra-calc{
 	border: 1px solid #f93a66;
    border-radius: 5px;
    padding: 30px 20px;
    text-align: center; 
}
.bra-calc .form-title {
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
    margin-top: 10px;
}
.bra-calc #submit, #reset-bttn{
 	padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px; 
}
.bra-calc .lead {
  	font-weight: bold;
    margin-bottom: 0;
}
.bra-calc #answer{
 	display: block;
    margin: auto;
    color: #f93a66;
    font-weight: 900;
    font-size: 30px;
    background: none;
    text-align: center;
} 
h1, .h1, .h1--mini, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.2em;
}
.panty-size-wrap {
    margin-top: 25px;
}
.panty-size-wrap table td{
 	 border: none;
}
.panty-size-wrap table tr:first-child{
 	 background: pink;
}
.panty-size-wrap table tr{
 	 border-bottom: 1px solid silver;
}
   
@media only screen and (min-width: 750px){
  .site-header__upper {
	padding-top: 5px;
    padding-bottom: 5px;
  }
  .product-card__info {
      padding: 10px 10px 20px;
  }
}
